body {
    background-image: url('assets/images/leafy.jpeg');
    margin: 12;
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}
.h1 {
    color: purple;
}

.box1 {
    color:rgb(0, 9, 128);
    border-bottom: 1px solid #cccccc4f;
}

.box2 {
    color:rgb(0, 9, 128);
    border-bottom: 1px solid #cccccc4f;
}
.box3 {
    color:rgb(0, 9, 128);
    border-bottom: 1px solid #cccccc4f;
}
.top-right {
    float: right;
}

.box2 {
}

